* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-width: 320px;
    color: #333;
    background: linear-gradient(to bottom, #284d39, #498D65);
}

header {
    background: #1E4F32;
    backdrop-filter: blur(64px);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0.1rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

header h1 {
    font-size: 3.5rem;
    font-family: 'Jersey 10', sans-serif;
    color: #ffffff;
    text-shadow: 
        2px 2px 0 black,
        -2px -2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black;
}

nav a {
    margin-left: 1.5rem;
    font-family: 'Irish Grover', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
nav a:hover{       
    color: #0a1a11;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playground {
    background-image: url("./img/playground.jpg");
    width: 100%;
    max-width: 700px;
    height: 500px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat
    border: solid black 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
}

.stadium {
    height: 256px;
    /* background-color: #498D65; */
}

.goal-post-container {
    height: 70px;
   /* background-color: #0f4a8d ;  */
   display: flex;
   flex-direction: column;
   align-items: center;
   just
}

.goal-post {
    height: 70px;
    width: 190px;
    position: relative;
    overflow: visible;
}
}

.keeper {
    position: absolute;
    bottom: 0px; /* adjust so feet line up with grass */
    left: 50%;
    transform: translateX(-50%);
    height: 70px;   /* shrink keeper width */
    width: auto; 
}

.ball {
    position: absolute;
    bottom: -30px; /* in front of post */
    left: 50%;
    transform: translateX(-50%);
    width: 154px; 
    height: 128px;

    background: url("./img/characters/spinframes.png") no-repeat;
    background-size: 768px 128px;
}

.ground {
    height: 176px;
    /* background-color: rgb(48, 228, 57); */
}